html{
  font-size: 20px;
}
h1{
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 5px 5px 5px grey;
  border-bottom: solid 3px rgb(115,115,114);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}
body{
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
 } 

.decoration1{
  color: skyblue;
}
.decoration2{
  color: pink;
}
.decoration3{
      color: pink;
}
.decoration4{
    color: skyblue;
}
/*#basic {
   font-weight: normal;
  }*/
.decoration5{
   font-weight: bold;
 }